body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
  }
  
  .container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
  }
  
    #position {
    border-bottom:white;
    margin-top: 10px;
  }

  .left-column {
    background: #20354b;
    color: white;
    padding: 20px;
    width: 30%;
  }
 
  .left-header {
    color: white;
  }

  
  .right-column {
    padding: 20px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  h1 {
    color: #20354b;
    margin-bottom: 5px;
  }
  
  h3 {
    color: #555;
  }
  
  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
    color: #20354b;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
    .profile-photo {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
  }
